---
import { Image } from "astro:assets";
import flagIcon from "../../public/assets/icons/flag.png";

const { content } = Astro.props;
---

<ul class="timeline-list">
  {
    content.map((item) => (
      <li class="timeline-item">
        <div class="timeline-item-content">
          <div class="timeline-title-wrapper">
            <Image
              class="timeline-flag-icon"
              src={flagIcon}
              alt="flag"
              width={35}
              height={35}
            />
            <div class="timeline-title-text">
              <h2 class="timeline-title">{item.title}</h2>
              <p class="timeline-year">{item.year}</p>
            </div>
          </div>
          <p class="timeline-item-description">{item.description}</p>
          <Image
            src={item.image}
            alt={item.imageDescription}
            class="timeline-item-image"
            width={300}
            height={40}
            loading="lazy"
          />
          <p class="timeline-item-image-description">{item.imageDescription}</p>
        </div>
      </li>
    ))
  }
</ul>

<style>
  .timeline-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .timeline-item {
    width: calc(50% + 1.5px); /* 50% + 3px border */
    padding-bottom: 50px;
    position: relative;

    &:nth-child(odd) {
      float: right;
      clear: both;
      border-left: 2px dashed var(--gray-200);
    }

    &:nth-child(even) {
      float: left;
      clear: both;
      border-right: 2px dashed var(--gray-200);
    }

    &:first-child .timeline-item-content {
      margin-top: 0;
    }
  }

  .timeline-flag-icon {
    filter: var(--filter-invert);
  }

  .timeline-title-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .timeline-title {
    font-size: var(--text-lg);
  }

  .timeline-item-content {
    margin-top: -300px;
    padding: 1rem;
  }

  .timeline-item-description {
    margin: 16px 0;
  }

  .timeline-item-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .timeline-item-image-description {
    font-style: italic;
    font-size: 12px;
    color: var(--gray-200);
    margin-top: 0.5rem;
  }

  @media (width < 768px) {
    .timeline-item {
      border-left: 2px solid var(--gray-200);
      width: 100%;

      &:nth-child(even) {
        border-right: none;
        border-left: 2px dashed var(--gray-200);
      }
    }

    .timeline-item-content {
      margin-top: 0;
    }
  }
</style>
